export('assayDataElement<-')
export("baf<-")
export("cn<-")
export("locData<-")
export("lrr<-")
export(asFactorMatrix)
export(assayDataElement)
export(attachAssayDataElements)
export(baf)
export(baf2mbaf)
export(BAFSet.to.ExpressionSets)
export(BAFSet)
export(boundingIndices)
export(boundingIndices2)
export(boundingIndicesByChr)
export(chr)
export(chrIndices)
export(chrInfo)
export(chrNames)
export(chrOrder)
export(cn)
export(CNSet)
export(colMeans)
export(convertToBigMatrix)
export(gcCorrect)
export(genomeAxis)
export(genoPlot)
export(genoPos)
export(GenoSet)
export(isGenomeOrder)
export(loadGC)
export(locData)
export(lrr)
export(modeCenter)
export(pos)
export(rangeColMeans)
export(rangeSampleMeans)
export(readGenoSet)
export(relocateAssayData)
export(runCBS)
export(segs2RangedData)
export(segs2Rle)
export(segs2RleDataFrame)
export(segTable)
export(subsetAssayData)
export(toGenomeOrder)
exportClasses(BAFSet)
exportClasses(CNSet)
exportClasses(GenoSet)
exportMethods("[")
exportMethods("featureNames<-")
exportMethods("universe<-")
exportMethods(elementLengths)
exportMethods(names)
exportMethods(ranges)
exportMethods(show)
exportMethods(universe)
import(BiocGenerics)
import(methods)
importClassesFrom(Biobase,AnnotatedDataFrame)
importClassesFrom(Biobase,AssayData)
importClassesFrom(Biobase,eSet)
importClassesFrom(Biobase,ExpressionSet)
importClassesFrom(Biobase,MIAME)
importClassesFrom(Biobase,Versioned)
importClassesFrom(Biobase,VersionedBiobase)
importClassesFrom(BSgenome,BSgenome)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(IRanges,DataFrame)
importClassesFrom(IRanges,RangedData)
importClassesFrom(IRanges,RangesList)
importClassesFrom(IRanges,Rle)
importFrom(bigmemory,as.big.matrix)
importFrom(bigmemory,attach.big.matrix)
importFrom(bigmemory,is.big.matrix)
importFrom(bigmemory,is.nil)
importFrom(Biobase,annotatedDataFrameFrom)
importFrom(Biobase,assayDataElement)
importFrom(Biobase,assayDataElementNames)
importFrom(Biobase,assayDataElementReplace)
importFrom(Biobase,assayDataNew)
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,seqlengths)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,axTicks)
importFrom(graphics,box)
importFrom(graphics,mtext)
importFrom(graphics,plot.new)
importFrom(graphics,plot.window)
importFrom(graphics,points)
importFrom(graphics,segments)
importFrom(IRanges,DataFrame)
importFrom(IRanges,IRanges)
importFrom(IRanges,RangedData)
importMethodsFrom(Biobase,"featureNames<-")
importMethodsFrom(Biobase,"sampleNames<-")
importMethodsFrom(Biobase,annotation)
importMethodsFrom(Biobase,experimentData)
importMethodsFrom(Biobase,exprs)
importMethodsFrom(Biobase,fData)
importMethodsFrom(Biobase,featureNames)
importMethodsFrom(Biobase,phenoData)
importMethodsFrom(Biobase,sampleNames)
importMethodsFrom(GenomicRanges,seqlevels)
importMethodsFrom(GenomicRanges,seqnames)
importMethodsFrom(IRanges,"%in%")
importMethodsFrom(IRanges,"colnames<-")
importMethodsFrom(IRanges,"rownames<-")
importMethodsFrom(IRanges,"universe<-")
importMethodsFrom(IRanges,as.data.frame)
importMethodsFrom(IRanges,as.list)
importMethodsFrom(IRanges,as.matrix)
importMethodsFrom(IRanges,cbind)
importMethodsFrom(IRanges,colnames)
importMethodsFrom(IRanges,elementLengths)
importMethodsFrom(IRanges,end)
importMethodsFrom(IRanges,findOverlaps)
importMethodsFrom(IRanges,gsub)
importMethodsFrom(IRanges,intersect)
importMethodsFrom(IRanges,is.unsorted)
importMethodsFrom(IRanges,lapply)
importMethodsFrom(IRanges,levels)
importMethodsFrom(IRanges,match)
importMethodsFrom(IRanges,mean)
importMethodsFrom(IRanges,na.exclude)
importMethodsFrom(IRanges,nrow)
importMethodsFrom(IRanges,order)
importMethodsFrom(IRanges,paste)
importMethodsFrom(IRanges,ranges)
importMethodsFrom(IRanges,Rle)
importMethodsFrom(IRanges,rownames)
importMethodsFrom(IRanges,runLength)
importMethodsFrom(IRanges,runValue)
importMethodsFrom(IRanges,sapply)
importMethodsFrom(IRanges,space)
importMethodsFrom(IRanges,start)
importMethodsFrom(IRanges,universe)
importMethodsFrom(IRanges,unlist)
useDynLib(genoset)
