exportClasses(BAFSet)
export(BAFSet)
export(baf)
export(lrr)
export("baf<-")
export("lrr<-")
export(BAFSet.to.ExpressionSets)
export(baf2mbaf)
exportClasses(CNSet)
export(CNSet)
export(cn)
export("cn<-")
export(colMeans)
importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet, ExpressionSet, MIAME, Versioned, VersionedBiobase)
importClassesFrom(IRanges, DataFrame, RangedData, RangesList, Rle)
importClassesFrom(methods, ANY, character, matrix, numeric)
importMethodsFrom(Biobase, annotation, experimentData, exprs, fData, featureNames, "featureNames<-", phenoData, sampleNames, "sampleNames<-")
importMethodsFrom(IRanges, as.data.frame, as.list, as.matrix, cbind, colnames, "colnames<-", elementLengths, end, findOverlaps, gsub)
importMethodsFrom(IRanges, "%in%", intersect, is.unsorted, lapply, levels, match, mean, na.exclude, nrow, order, paste, ranges, Rle, rownames)
importMethodsFrom(IRanges, "rownames<-", runLength, runValue, sapply, space, start, universe, "universe<-", unlist)
importMethodsFrom(methods, coerce, show)
importFrom(Biobase, assayDataElement, assayDataElementNames, assayDataElementReplace, assayDataNew, annotatedDataFrameFrom)
importFrom(DNAcopy, CNA, segment, smooth.CNA)
importFrom(graphics, abline, axis, axTicks, box, mtext, plot, plot.new, plot.window, points, segments)
importFrom(IRanges, DataFrame, IRanges, RangedData)
importFrom(methods, slot, "slot<-", callNextMethod, is, new)
importFrom(stats, density, lm, residuals)
useDynLib(genoset)
exportClasses(GenoSet)
export(GenoSet)
exportMethods("featureNames<-")
export(locData)
export("locData<-")
exportMethods(universe)
exportMethods("universe<-")
exportMethods(names)
exportMethods(ranges)
exportMethods(elementLengths)
exportMethods("[")
exportMethods("[[")
exportMethods(show)
export(chr)
export(pos)
export(uniqueChrs)
export(orderedChrs)
export(chrInfo)
export(chrIndices)
export(genoPos)
export(genoPlot)
export(subsetAssayData)
export(genomeAxis)
export(gcCorrect)
export(modeCenter)
export(segs2Rle)
export(segs2RleDataFrame)
export(segTable)
export(runCBS)
export(boundingIndices2)
export(boundingIndices)
export(rangeSampleMeans)
export(chrOrder)
export(isGenomeOrder)
export(genomeOrder)
